sudo: false
language: python
python: 3.5
cache: pip
fast_finish: true
before_install:
  - rvm install 2.5.3p105
branches:
  only:
  - release
install:
- wget https://github.com/Sage-Bionetworks/infra-utils/archive/master.zip -O /tmp/infra-utils.zip
- unzip -j -n /tmp/infra-utils.zip -x infra-utils-master/.gitignore infra-utils-master/LICENSE infra-utils-master/README.md
- ./setup_aws_cli.sh || travis_terminate 1
script:
- gem install bundler
- bundle install
- bundle exec jekyll build
- aws s3 cp _site/ s3://developer.sagebridge.org/ --recursive --acl public-read
