<div class="ui styled accordion" id="acc">
    {% if page.model_browser == true %}
    <div class="active title">
        <i class="dropdown icon"></i>
        REST API Models
    </div>
    <div class="active content" style="padding:0">
        <div class="ui fluid vertical menu model_nav_container">
            <div id="model_nav">
                <p class="item" style="color:#b22222; margin: 3rem auto">Loading&hellip;</p>
            </div>
        </div>
    </div>
    {% endif %}  
    <div class="title">
      <i class="dropdown icon"></i>
      Platform Overview
    </div>
    <div class="content">
      <div class="ui secondary vertical menu">
        <a class="item" href="/articles/overview.html">Platform Components</a>
        <a class="item" href="/articles/data_management.html">Policies &amp; Principles</a>
        <a class="item" href="/articles/security.html">Security Overview</a>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Bridge Platform APIs
    </div>
    <div class="content">
      <div class="ui secondary vertical menu">
        <span class="item">Science APIs (v2)</span>
        <span class="item" style="padding: 0 0 0 1.25rem">
          <div class="ui secondary vertical menu">
            <a class="item" href="/articles/evolution_of_the_bridge_system.html">Evolution of the Bridge System</a>
            <a class="item" href="/articles/assessments.html">Assessments</a>
          </div>
        </span>
        <span class="item">Science APIs (v1)</span>
        <span class="item" style="padding: 0 0 0 1.25rem">
          <div class="ui secondary vertical menu">
            <a class="item" href="/articles/consent.html">Consenting Participants</a>
            <a class="item" href="/articles/scheduling.html">Scheduling</a>
          </div>
        </span>
        <span class="item">Mobile Development APIs</span>
        <span class="item" style="padding: 0 0 0 1.25rem">
          <div class="ui secondary vertical menu">
            <a class="item" href="/articles/app_dev_lifecycle.html">Application Lifecycle</a>
            <a class="item" href="/articles/filtering.html">Customizing Content</a>
            <a class="item" href="/articles/authentication.html">Bridge Authentication</a>
            <a class="item" href="/articles/notifications.html">Notifications</a>
            <a class="item" href="/articles/hosted_files.html">Hosted Files</a>
            <a class="item" href="/articles/appconfigs.html">Configuring apps remotely</a>
          </div>
        </span>
        <a class="item" href="/articles/submitting_health_data.html">Submitting Health Data to Bridge</a>
          <span class="item" style="padding: 0 0 0 1.25rem">
            <div class="ui secondary vertical menu">
              <a class="item" href="/articles/schemas.html">Schemas</a>
              <a class="item" href="/articles/health_data_metadata.html">Health Data Metadata</a>
              <a class="item" href="/articles/bundled_zip_file_uploads.html">Bundled Zip File Uploads</a>
              <a class="item" href="/articles/single_file_uploads.html">Single File Uploads</a>
              <a class="item" href="/articles/synchronous_health_data_submission.html">Synchronous Health Data Submission</a>
              <a class="item" href="/articles/exporting_to_synapse.html">Exporting to Synapse</a>
              <a class="item" href="/articles/oauth.html">Importing External Data</a>
            </div>
          </span>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Client Development SDKs
    </div>
    <div class="content">
      <div class="ui secondary vertical menu">
        <span class="item">iPhone Development</span>
        <span class="item" style="padding: 0 0 0 1.25rem">
            <div class="ui secondary vertical menu">
              <a class="item" href="/articles/ios.html">iOS &amp; ResearchKit SDKs</a>
              <a class="item" href="/articles/ios_get_started.html">Getting Started</a>
              <a class="item" href="/articles/ios_samples.html">Sample Apps</a>
            </div>
        </span>
        <span class="item">Android Development</span>
        <span class="item" style="padding: 0 0 0 1.25rem">
          <div class="ui secondary vertical menu">
            <a class="item" href="/articles/android.html">Android SDKs</a>
            <a class="item" href="/articles/android_samples.html">Sample Apps</a>
          </div>           
        </span>
        <span class="item">Java REST SDK</span>
        <span class="item" style="padding: 0 0 0 1.25rem">
          <div class="ui secondary vertical menu">
            <a class="item" href="/articles/rest.html">Getting Started</a>
            <a class="item" href="/articles/java.html">Installation &amp; Usage</a>
          </div>
        </span>
      </div>
    </div>
</div>
